extends base

block content
  main.main
    .jumbotron.new-comment-page
        .container
          .newComment-form
            form.form.form--newComment
              .form__group.justify-content-center
                textarea#comment-content.form-control(type='text',data-postId= postId,data-userId=user._id,required)
                .container
                  .row.like-dislike-div
                    .col-sm-6.p-0.d-flex.justify-content-center
                      button.liked-btn(type="button") Liked
                    .col-sm-6.p-0.d-flex.justify-content-center
                      button.disLiked-btn(type="button") Disliked
                button.btn.comment-submit-btn Add Comment