extends base

block content
  main.main
    .jumbotron.new-post-page
      .container
        .newPost-form
          form.form.form--newPost
            .form__group.coverImg-section
              label.form__label(for='post-cover') Browse Cover Img 
              input#post-cover.form-control(type='file',accept= "image/*", name="cover") 
            .form__group
              input#post-title.form-control(type='text',placeholder="Enter Post Title", required) 
            .form__group
              textarea#post-desc.form-control(rows="3",data-userId=user._id,type='text',placeholder="Enter Post Description" required)
            .form__group
              button.btn.post-submit-btn  Add Post